<section class="register">

    <div class="container">
        <form class="registerForm" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" >
             <h2 class="form__heading">Registrar usuario</h2>

        <div class="form__group">
          <input type="text" name="name" class="form__input" #name="ngModel" [(ngModel)]="user.name">
          <label for="name" class="form__label">Nombre</label>    
        </div>

        <div class="form__group">
          <input type="text" name="surname" class="form__input" #surname="ngModel" [(ngModel)]="user.surname">
          <label for="surname" class="form__label">Apellido</label>    
        </div>

        <div class="form__group">
          <input type="email" name="email" class="form__input" #email="ngModel" [(ngModel)]="user.email">
          <label for="email" class="form__label" >Email</label>    
        </div>

        <div class="form__group">
          <input type="password" name="password" class="form__input" #password="ngModel" [(ngModel)]="user.password">
          <label for="password" class="form__label" >Contraseña</label>    
        </div>
        <div class="form__group">
          <input type="submit" value="Enviar" class="btn btn--green"> 
        </div>

        </form>

    </div>  

</section>