.section-about{
    padding: 20rem 5rem;
    margin-top: -25vh;
    background-color: $color-white;
   
}

//    background-image: linear-gradient(
  /*  to right,
    rgba($color-primary-light, 0.76),
    rgba($color-primary-dark, 0.719)
),
url(assets/images/foto1.jpg);*/
.section-menu{

}
.section-reserva{
    padding: 10rem 5rem;
        background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.76),
      rgba($color-primary-dark, 0.719)
  ),
  url(assets/images/foto1.jpg);

}